.parallax-window {
    min-height: 400px;
    background: transparent;
}

 /* .parallax-layer {
    position: absolute;
}

#port {
    background: rgb(47, 49, 52);
    margin: 1.5em 0px;
    overflow: hidden;
    position: relative;
    height: 300px;
    max-width: 600px;
}
.container { 
    margin: 150px auto; 
    max-width: 640px; }  */

